.navbar{
    background-color: #000 !important;
}

.navbar  .navbar-brand{
    color: #FFF;
}
.navbar  .navbar-brand:hover{
    color: #FFF;
}
.navbar .navbar-nav li a{
    color: #FFF !important;
}

.navbar .nav-item  .dropdown-menu .dropdown-item{
    color: #000 !important;
}

.navbar .nav-item  .dropdown-menu .dropdown-item:hover{
    color: #FFF !important;
    background-color: black;
    opacity: 0.5;
}
.navbar-togger{
   
    background-color: white;
}

