
<!DOCTYPE html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think India</title>
    <meta name="description" content="We at Think India have felt the need to bind the students with an Indian nationalistic string to harness this part of national treasure in furthering our aim of national reconstruction.Students from IISc, IIMB, NIMHANS and NLSIU joined together to create a joint forum for the students from premier institutes of India in 2006. A formal forum took placed at the Art of Living Ashram , Bengaluru in 2007." />
    <meta name="Keywords" content="Think India, Vidhi Internship, Niti Internship, Sansadiya Internship, Anubhooti Internship" />

</head>
<!DOCTYPE html>

<html lang="en">



<head>



  <!-- Favicon -->

  <link rel="shortcut icon" href="images/favicon1.png" />

  <!-- jquery  -->

  <script type="text/javascript" src="js/jquery.min.js"></script>

  <script type="text/javascript" src="js/angular.js"></script>

  <!-- bootstrap -->

  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <script type="text/javascript" src="js/custom.js"></script>

  <!-- appear -->

  <script type="text/javascript" src="js/jquery.appear.js"></script>



  <!-- Menu -->

  <script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>



  <!-- owl-carousel -->

  <script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>



  <script src="js/wow.min.js"></script>

  <script>

    new WOW().init();

  </script>



  <script>

    /* When the user clicks on the button, 

toggle between hiding and showing the dropdown content */

    function myFunction() {

      document.getElementById("myDropdown").classList.toggle("show");

    }



    // Close the dropdown if the user clicks outside of it

    window.onclick = function(event) {

      if (!event.target.matches('.dropbtn')) {



        var dropdowns = document.getElementsByClassName("dropdown-content");

        var i;

        for (i = 0; i < dropdowns.length; i++) {

          var openDropdown = dropdowns[i];

          if (openDropdown.classList.contains('show')) {

            openDropdown.classList.remove('show');

          }

        }

      }

    }

  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126377630-1"></script>

  <script>

    window.dataLayer = window.dataLayer || [];



    function gtag() {

      dataLayer.push(arguments);

    }

    gtag('js', new Date());



    gtag('config', 'UA-126377630-1');

  </script>





  <!-- bootstrap -->

  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />



  <!--  Roboto font -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />



  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



  <!-- mega menu -->

  <link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />



  <!-- font-awesome -->

  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />



  <!-- Flaticon -->

  <link href="css/flaticon.css" rel="stylesheet" type="text/css" />



  <!-- owl-carousel -->

  <link href="css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />



  <!-- General style -->

  <link href="css/general.css" rel="stylesheet" type="text/css" />



  <!-- main style -->

  <link href="css/style.css" rel="stylesheet" type="text/css" />



  <link href="css/animate.min.css" rel="stylesheet" type="text/css" />





</head>



<body>



  <!--=================================

 preloader -->



  <!--=================================

header -->



  <header id="header" class="dark">



    <div class="topbar" id="topbar1">

      <div class="container">

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="topbar-left text-left">

              <ul class="list-inline">

                <li> <i class="fa fa-envelope-o"> </i><a href="mailto:thinkindiamail@gmail.com"> thinkindiamail@gmail.com</a></li>

                <li class="f-right"> <i class="fa fa-phone"></i><a href="tel://8750050646">8750050646</a></li>

              </ul>

            </div>

          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="topbar-right text-right">

              <ul class="list-inline">

                <li class="social-facebook"><a href="https://www.facebook.com/thinkindiaorg" target="_blank"><i class="fa fa-facebook"></i></a></li>

                <li class="social-twitter"><a href="https://twitter.com/thinkindiaorg" target="_blank"><i class="fa fa-twitter"></i></a></li>

                <li class="social-instagram"><a href="https://www.instagram.com/thinkindiaorg/" target="_blank"><i class="fa fa-instagram"></i></a></li>

                <li class="social-whatsapp"><a href="https://api.whatsapp.com/send?phone=918750050646&text=Subscribe%20Think%20India" target="_blank"><i class="fa fa-whatsapp"></i></a></li>

                <li class="social-youtube"><a href="https://www.youtube.com/user/thinkindiatube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>

                
                  <li class="social-other"><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-lock"></i> Login</a></li>

                  <li class="social-other"><a href="signup-form.php"><i class="fa fa-user"></i> Sign Up</a></li> 
              </ul>

            </div>

          </div>

        </div>

      </div>

    </div>

    <!--=================================

 mega menu -->



    <div class="menu">

      <!-- menu start -->

      <nav id="menu" class="mega-menu">

        <!-- menu list items container -->

        <section class="menu-list-items">

          <div class="container">

            <div class="row">

              <div class="col-lg-12 col-md-12">

                <!-- menu logo -->

                <ul class="menu-logo">

                  <li>

                    <a href="/"><img id="logo_img" src="images/logo.png" alt="logo"> </a>

                  </li>

                </ul>

                <!-- menu links -->

                <ul class="menu-links">

                  <!-- active class -->

                  <li class="active"><a href="/"> Home</a></li>



                  <li><a href="javascript:void(0)"> Team <i class="fa fa-angle-down fa-indicator"></i></a>

                    <!-- drop down multilevel  -->

                    <ul class="drop-down-multilevel left-menu">

                      <li><a href="Advisory-Board.php"> ADVISORY BOARD</a></li>

                      <li><a href="National-Convenor.php"> NATIONAL COMMITTEE</a></li>

                      <!-- <li><a href="#"> Chapters</a></li>

                    <li><a href="#">Campus Ambassador</a></li> -->

                    </ul>

                  </li>



                  <li><a href="javascript:void(0)"> Internships <i class="fa fa-angle-down fa-indicator"></i></a>

                    <!-- drop down multilevel  -->

                    <ul class="drop-down-multilevel left-menu">
                      <li><a href="Anubhooti.php"> ANUBHOOTI</a></li> 

                      <li><a href="Vidhi.php"> VIDHI</a></li>

                      <li><a href="Niti.php"> NITI</a></li>

                      <li><a href="Sansadiya.php">SANSADIYA</a></li>

                      <li><a href="Samvad.php">SAMVAD</a></li>

                      <li><a href="Shuruat.php">SHURUAT</a></li>

                      <li><a href="Fellows.php">THINK INDIA FELLOWS</a></li>

                      <!-- <li><a href="#">Diksha</a></li>-->

                      <li><a href="ILC.php">International Law Commission</a></li>

                    </ul>

                  </li>

                  <li><a href="Events.php"> Events</a></li>

                  <li><a href="Blogs.php"> Blogs</a></li>

                  <li><a href="Engage.php"> Engage</a></li>

                  <li><a href="Contact-Us.php"> Contact Us</a></li>

                  <!-- <li><a href="#"> Think India Survey</a></li> -->

                </ul>

              </div>

            </div>

          </div>

        </section>

      </nav>

      <!-- menu end -->

    </div>

  </header>



  <!--=================================

 header -->



  <body ng-app="">





    <!-- Login Modal -->

    <div class="modal fade" id="loginModal" role="dialog">

      <div class="modal-dialog">



        <!-- Modal content-->

        <div class="modal-content">

          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal">&times; </button>

            <center>

              <h4 class="modal-title">Login</h4>

            </center>

          </div>



          <div class="modal-body">

            <form method="post" id="login-form" name="loginForm" novalidate>

              <div class="form-group" ng-class="{ 'has-error': (loginForm.$submitted || loginForm.email.$touched) && (loginForm.email.$error.required || loginForm.email.$error.email)}">



                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="email" ng-required="true">

                <span class="error-msg" ng-if="(loginForm.$submitted || loginForm.email.$touched) && loginForm.email.$error.required">This field is required</span>

                <span class="error-msg" ng-if="(loginForm.$submitted || loginForm.email.$touched) && loginForm.email.$error.email">Enter valid email id</span>

              </div>

              <div class="form-group" style="margin-bottom:7px;" ng-class="{ 'has-error': (loginForm.$submitted || loginForm.pwd.$touched) && loginForm.pwd.$error.required }">

                <label class="error-label pull-right pwd-error" style="color: red;"></label>

                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="pwd" ng-required="true">

                <span class="error-msg" ng-if="(loginForm.$submitted || loginForm.pwd.$touched) && loginForm.pwd.$error.required">This field is required</span>

              </div>

              <a class="pull-right" href="#" style="margin-bottom:5px;" onclick="display_tab('forgot-password','login-form','Forgot password');">Forgot password?</a><br>

              <div class="form-group text-center">

                <button type="submit" id="login-submit" class="button border animated left-fill" onclick="loginform();"><span>Login</span></button>

              </div>

              <div id="status" class="error-label status-error" style="color: red;"></div>

              <div class="form-group text-center">

                <p>Not registered yet? <a href="signup-form.php">Sign Up</a></p>

              </div>

            </form>

            <form id="forgot-password" name="forgotForm" novalidate style="display:none;">

              <div class="form-group" ng-class="{ 'has-error': (forgotForm.$submitted || forgotForm.re_email.$touched) && (forgotForm.re_email.$error.required || forgotForm.re_email.$error.email)}">



                <input type="email" class="form-control" id="re_email" placeholder="Enter email" name="re_email" ng-model="re_email" ng-required="true">

                <span class="error-msg" ng-if="(forgotForm.$submitted || forgotForm.re_email.$touched) && forgotForm.re_email.$error.required">This field is required</span>

                <span class="error-msg" ng-if="(forgotForm.$submitted || forgotForm.re_email.$touched) && forgotForm.re_email.$error.email">Enter valid email id</span>

              </div>

              <p class="pull-right">Remember password?<a href="#" style="margin-bottom:5px;" onclick="display_tab('login-form','forgot-password','Login');"> login</a></p><br>

              <div class="form-group text-center">

                <button type="submit" id="email-submit" class="button border animated left-fill" onclick="forgotform();"><span>Submit</span></button>

              </div>

              <div id="forgot-status" class="error-label status-error1" style="color: red;"></div>

            </form>

          </div>

        </div>



      </div>

    </div>

    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-chevron-up"></i></a></div>

  </body>
<head>
    <script>
        function submit_enquiry() {
            var name = $("#name").val();
            var email = $("#email").val();
            var mobile = $('#mobile').val();
            var message = $('#message').val();

            var formdata = new FormData();
            formdata.append("name", name);
            formdata.append("email", email);
            formdata.append("mobile", mobile);
            formdata.append("message", message);

            var ajax = new XMLHttpRequest();
            if ($('#contactform').hasClass("ng-valid")) {
                $("#ajaxloader").show();
                $('#contactform').hide();
                ajax.open("POST", "insert-enquiry.php");
                ajax.send(formdata);
                ajax.onreadystatechange = function() {
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        $("#ajaxloader").hide();
                        $('#contactform').show();
                        if (ajax.responseText == "success") {
                            $('#successModal').modal('show');
                            document.getElementById('contactform').reset();
                            document.getElementById('enquiry-submit').disabled = "true";
                        } else if (ajax.responseText == "already exists") {
                            $('#alreadyExistsModal').modal('show');
                        } else {
                            $('#errorModal').modal('show');
                        }
                    }
                }
            }
        }
    </script>
</head>

<body>

    <!--=================================
 banner -->

    <section class="inner-intro bg bg-fixed bg-overlay-black-70">
        <div class="container">
            <div class="row intro-title">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h1 class="title text-white">Contact Us</h1>
                    </div>
                </div>
                <div class="col-sm-12">
                    <ul class="page-breadcrumb ">
                        <li><a href="index.php"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                        <!-- <li><a href="about-me.html">pages</a> <i class="fa fa-angle-double-right"></i></li> -->
                        <li><span>Contact Us</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 banner -->
   <section class="contact-sec page-section-pt grey-bg">
        <div class="container">
            <div class="row">
                    <div class="section-title text-center">
                        <h4 class="title">Enquire Now</h4>
                    </div>
                    <div class="pall-50 white-bg" style="box-shadow: 0px -2px 15px 0 #ccc;margin-bottom: 50px;">
                    <form id="contactform" name="contactform" role="form" method="post" novalidate>
                        <div class="form-group">
                            <label>Name <span class="required-star">*</span></label>
                            <div class="input-group">
                                <input id="name" type="text" placeholder="" class="form-control" name="name" ng-model="name" ng-required="true">
                                <span class="error-msg" ng-if="(contactform.name.$touched || contactform.$submitted) && contactform.name.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email <span class="required-star">*</span></label>
                            <div class="input-group">
                                <input type="email" placeholder="" class="form-control" name="email" ng-model="email" ng-required="true">
                                <span class="error-msg" ng-if="(contactform.email.$touched || contactform.$submitted) && contactform.email.$error.required">This field is required</span>
                                <span class="error-msg" ng-if="(contactform.email.$touched || contactform.$submitted) && contactform.email.$error.email">Please enter valid email</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Phone <span class="required-star">*</span></label>
                            <div class="input-group">
                                <input type="text" placeholder="" class="form-control" name="mobile" id="mobile" ng-model="mobile" ng-required="true">
                                <span class="error-msg" ng-if="(contactform.mobile.$touched || contactform.$submitted) && contactform.mobile.$error.required">This field is required</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Message <span class="required-star">*</span></label>
                            <div class="input-group">
                                <textarea class="form-control input-message" placeholder="" rows="7" name="message" id="message" ng-model="message" ng-required="true"></textarea>
                                <span class="error-msg" ng-if="(contactform.message.$touched || contactform.$submitted) && contactform.message.$error.required">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="enquiry-submit" name="submit" type="submit" class="button border animated middle-fill" onclick="submit_enquiry()"><span>Submit Now</span></button>
                        </div>
                    </form>
                    <div id="ajaxloader" style="display:none"><img class="center-block" src="images/loading.gif" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-sec page-section-pt">
        <div class="container-fluid mb-60">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h2 class="title">Get in Touch With us</h2>
                    </div>
                </div>
            </div>
            <div class="row row-eq-height no-gutter">
                <div class="tab tab-light clearfix">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab2-1" data-toggle="tab" aria-expanded="false"><i class="glyph-icon flaticon-buildings-1"></i><span>Bengalore</span></a></li>
                        <li><a href="#tab2-2" data-toggle="tab" aria-expanded="true"><i class="glyph-icon flaticon-construction-14"></i><span>Delhi</span></a></li>
                        <li><a href="#tab2-3" data-toggle="tab"><i class="glyph-icon flaticon-people"></i><span>Mumbai</span></a></li>
                        <li><a href="#tab2-4" data-toggle="tab"><i class="glyph-icon flaticon-fax-1"></i><span>Bhopal</span></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab2-1">
                            <div class="top-info fill clearfix">
                                <div class="col-md-4 col-12">
                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-construction-5"></i>
                                        <h3 class="title">Location :</h3>
                                        <span>#55, YUVASHAKTI, 1st Main, Sheshadripuram,<br> Malleshwaram, Bengaluru, Bangalore, India</span>
                                    </div>

                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-technology-2"></i>
                                        <h3 class="title">Phone :</h3>
                                        <span>+91 8750050646</span>
                                        <span>+91 7765876723</span>
                                        <span>+91 8859774466</span>
                                    </div>

                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-email"></i>
                                        <h3 class="title">Mail :</h3>
                                        <a href="mailto:thinkindiamail@gmail.com">thinkindiamail@gmail.com</a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-12">
                                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6855431964004!2d77.57303281474334!3d12.991953417946736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14b8aa9b1415455c!2sYuvashakti!5e0!3m2!1sen!2sin!4v1537016221879" width="100%" height="430px" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2-2">
                            <div class="top-info fill clearfix">
                                <div class="col-md-4 col-12">
                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-construction-5"></i>
                                        <h3 class="title">Location :</h3>
                                        <span>1st Floor, 3, Birbal Rd, Jangpura, Pant Nagar, New Delhi, Delhi 11001</span>
                                    </div>

                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-email"></i>
                                        <h3 class="title">Mail :</h3>
                                        <a href="mailto:thinkindiadelhi@gmail.com">thinkindiadelhi@gmail.com</a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-12">
                                    
                                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1444.969171392644!2d77.24387703043169!3d28.583348513688144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce31f7c9e1567%3A0x31db3741f0cf1d69!2sThink%20India%20Head%20Office!5e0!3m2!1sen!2sin!4v1580721695137!5m2!1sen!2sin" width="100%" height="430" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2-3">
                            <div class="top-info fill clearfix">
                                <div class="col-md-4 col-12">
                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-construction-5"></i>
                                        <h3 class="title">Location :</h3>
                                        <span>03, Marble Arch, Senapati Bapat Marg W.R., Stn Opp Matunga, Road, Mahim, Mumbai, Maharashtra 400016</span>
                                    </div>

                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-email"></i>
                                        <h3 class="title">Mail :</h3>
                                        <a href="mailto:thinkindiamumbai@gmail.com">thinkindiamumbai@gmail.com</a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-12">
                                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.7906688925614!2d72.84441881497503!3d19.028943687115014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ced2ae1b4cb5%3A0xef167586f9b73049!2sAkhil%20Bharatiya%20Vidyarthi%20Parishad!5e0!3m2!1sen!2sin!4v1580721751193!5m2!1sen!2sin" width="100%" height="430" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                                </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2-4">
                            <div class="top-info fill clearfix">
                                <div class="col-md-4 col-12">
                                    <div class="address-block rounded">
                                        <i class="glyph-icon flaticon-construction-5"></i>
                                        <h3 class="title">Location :</h3>
                                        <span>Chhatra Shakti, Bhadbhada Road, Near Dipo Chouraha, Chatrashakti, Aradhana Nagar, Bhopal, Madhya Pradesh 462001</span>
                                    </div>
                                </div>
                                <div class="col-md-8 col-12">
                                    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.440639598889!2d77.38651381504404!3d23.22704718484985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c42c3ad3fb5b1%3A0x1cc826b9677aa119!2sAkhil%20Bhartiya%20Vidyarthi%20Parishad%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1580721599766!5m2!1sen!2sin" width="100%" height="430" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Success modal-->
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog status-modals">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body">
            <div class="modal-details">
                <div class="icon success">
                    <i class="fa fa-check"></i>
                </div>
                <h4 class="modal-msg">Your form is submitted successfully!!</h4>
            </div>
            <button type="button" class="button small border animated left-fill mt-20" data-dismiss="modal"><span>Close</span></button>
        </div>
        </div>

    </div>
</div>

<!--Already exists modal-->
<div class="modal fade" id="alreadyExistsModal" role="dialog">
    <div class="modal-dialog status-modals">
        <!-- Modal content-->
        <div class="modal-content">                  
        <div class="modal-body">
            <div class="modal-details">
                <div class="icon error">
                    <i class="fa fa-close"></i>
                </div>
                <h4 class="modal-msg">Your form is already submitted</h4>
                <button type="button" class="button border animated left-fill mt-20" data-dismiss="modal"><span>Close</span></button>
            </div>
        </div>
        </div>
    </div>
</div>

<!--Error modal-->
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog status-modals">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body">
            <div class="modal-details">
                <div class="icon error">
                    <i class="fa fa-close"></i>
                </div>
                <h4 class="modal-msg">Something went wrong!</h4>
                <button type="button" class="button border animated left-fill mt-20" data-dismiss="modal"><span>Close</span></button>
            </div>
        </div>
        </div>
    </div>
</div>    <!--=================================footer -->
    <!--=================================
 Footer -->   
<div class="footer-widget dark-bg">
      <div class="container">
          <div class="row">
          <div class="col-md-12">
           <ul class="text-center">
             <li><a href="Terms-Conditions.php">Terms & Conditions</a></li>
             <li><a href="Privacy-Policy.php">Privacy Policy</a></li>
             <li><a href="Contact-Us.php">Contact Us</a></li>
           </ul>
         </div>
         <div class="col-md-12">
           <p class="text-white text-center"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Think India </a> All Rights Reserved | Designed by <a href="http://www.pactic.in/">Pactic Media Concepts</a> </p>
            </div>
         
       </div>
      </div></div>